* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;

}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 50px 100px;
}


.header {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #acacac;
}

.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.logo span {
    display: block;
    font-weight:200;
}

.menu li {
    display: inline-block;
    padding: 10px;
    margin: 12px;
    color: black;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: regular;
}
.menu li a {
    color: black;
    text-decoration: none;

}
.menu-main li a:hover {
    background:#b7b7b7;
}

.container{
    display: inline-block;
    width: 200px;
    height:200px;
    margin: 40px 0px;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.container span {
    display: inline-block;
    width: 400px;
    height:200px;
    margin: 40px 10px 0px 40px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;

}
.main {
    margin-top: 85px;
    margin-left: 99px ;
}
.photo {
    width: 200px;
    height: 199px;
    border: 2px solid #acacac;
}


.footer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: regular;
    margin: 3px;

.menu-main {
    box-sizing: border-box;
}